﻿.html{
  font-size: 12px;
}
.lvl-over {
  /* applied to a drop target when a draggable object is over it */
  border: 2px dashed black !important;
}

.lvl-target {
  /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
  background-color: #ddd;
  opacity: .5;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;  
}

.peg {
  text-align: center;
  font-weight: bold;
  border:1px black solid;
  width: 75px;
  margin: 10px;
}

.slot {
  margin-right:2px;
  margin-top:2px;
  width:100%;
  height:25px;
  /*display:inline-block;*/
  border: none;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
  color: white;
}

.grey {
  background-color: grey;
}

pre strong {
  font-size:12pt;
}

/*====== ВКЛАДКИ ======*/
.tabs{
    display:inline-block;
}
.tabs > div{
    padding-top:10px;
}
.tabs ul{
    margin:0px;
    padding:0px;
}
.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    height:5px;
    background:#46c765;
}
.tabs ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    background:#e9eaeb;
    color:#707070;
}
.tabs ul li.active, .tabs ul li.active:hover{
    background:#46c765;
    color:#fff;
}
.tabs ul li:hover{
    background:#d6d6d7;
}
.tabs ul li.rm_block{ /*кнопка удаления блока*/
  margin-left: 10px;
  color:black;
  padding: 5px
}
.tabs ul li.rm_block:hover{
  background-color: red;
}
/*====== /ВКЛАДКИ ======*/

/*БЛОКИ*/
.uni_block{
  outline: 1px solid red;
}
.slot-cont{
  background-color: gray;
  color:black;
  font-size: 2rem;
  text-align: center;
}
/*иконки*/
.iconka{
  border: 1px solid black;  
}


/*контейнер*/
.block_container{
  display:block;
  outline:1px solid black;
  padding: 20px;
  box-sizing:border-box;
  float:left;
  width:80%;
}

.wrapper{
  width:100%;
}
