﻿<div class="iconka" ng-show="{{isicon}}">
	Base
</div>

<div class="tabs" id="{{BaseBlockController.id}}" ng-show="{{!isicon}}">
	
    <ul>
        <li ng-click="BaseBlockController.render(); BaseBlockController.toggleTab('render')">	
			{{BaseBlockController.data.render.title}} 
		</li>		
		<li ng-click="BaseBlockController.toggleTab('html')">	{{BaseBlockController.data.html.title}} </li>		
		<li ng-click="BaseBlockController.toggleTab('css')">	{{BaseBlockController.data.css.title}} </li>		
		<li ng-click="BaseBlockController.toggleTab('js')">	{{BaseBlockController.data.js.title}} </li>		
		<li ng-click="BaseBlockController.askRemoving();" class="rm_block">X</li>
		<!-- <li ng-click="console.log('1'); ContainerController.removeBlock(BaseBlockController.id)" class="rm_block">X</li> -->
    </ul>
    <div>        
		<div ng-show="BaseBlockController.data.render.active" bind-html-with-js="BaseBlockController.data.render.content"></div>
		<textarea ng-show="BaseBlockController.data.html.active" ng-model="BaseBlockController.data.html.content"></textarea>
		<textarea ng-show="BaseBlockController.data.css.active" ng-model="BaseBlockController.data.css.content"></textarea>
		<textarea ng-show="BaseBlockController.data.js.active" ng-model="BaseBlockController.data.js.content"></textarea>		
    </div> 
	
</div> 

