<div class="wrapper">	
	
	<div uni-block 
			ng-repeat="block in data.container track by block.id" 
			block="block" 
			class="uni-block" 
			id="{{block.id}}">


		<base-block ng-if="block.type=='base'" data="block.meat" isicon="block.isicon" status="block.status" id="block.id"></base-block>

		<slot-block ng-if="block.type=='slot'" data="block.meat" isicon="block.isicon" status="block.status" id="block.id"></slot-block> 
	</div>

</div>