  <div class="col-md-1">
    <p>Палитра</p>
        
    <div uni-block ng-repeat="block in data" block="block" class="uni_block" id="{{block.id}}">
		<base-block ng-if="block.type=='base'" data="block.meat" isicon="block.isicon" data-m="block.meat"></base-block>

		<slot-block ng-if="block.type=='slot'" data="block.meat" isicon="block.isicon"></slot-block> 
	</div>

  </div>